[submodule "lib/ds-test"]
	path = lib/ds-test
	url = https://github.com/dapphub/ds-test
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "lib/sablier"]
	path = lib/sablier
	url = https://github.com/sablierhq/sablier
[submodule "lib/compound-protocol"]
	path = lib/compound-protocol
	url = https://github.com/compound-finance/compound-protocol
